/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;  
    background-color: #f0f2f5;
    margin: 0;
  }
  
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .form-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
  }
  
  .image {
    width:100%;
    height: 100vh;
  }
  
  input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 20px;
    background-color: #e8f0fe;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  
  .email, .password {
    width: 100%;
  }
  
  .btn-login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .btn {
    background-color: rgb(92, 199, 241);
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(52, 159, 201);
  }
  
  .google-button {
    width:100%;
    margin: 10px 32px;
  }
 
  
  .errorMessage {
    color: red;
    font-weight: 500;
    margin: 10px 0;
  }
  
  .signUpText > Link {
    text-decoration: none;
    color: var(--twitter-color) !important;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .heading {
      font-size: 35px;
    }
  
    .form-box input {
      max-width: 350px;
    }
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .image-container {
      display: none;
    }
  
    .form-container {
      padding: 20px;
      margin: 0;
    }
  
    .heading {
      font-size: 30px;
    }
  
    .form-box input {
      max-width: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .heading {
      font-size: 18px;
    }
  
    .form-box input {
      max-width: 90%;
      font-size: 14px;
      padding: 12px;
    }
  
    .btn {
      width: 90%;
      padding: 12px;
      font-size: 15px;
    }
  
    .g-btn {
      width: 90%;
    }
  }
  
  @media (max-width: 360px) {
    .form-box input {
      font-size: 13px;
      padding: 10px;
    }
  
    .btn {
      padding: 10px;
      font-size: 14px;
    }
  
    .g-btn {
      font-size: 13px !important;
    }
  }
  